# Include all Snakemake files
recursive-include sc_preprocess/workflows *.smk
recursive-include sc_preprocess/workflows *.py

# Include other important files
include README.md
include environment.yaml
include environment_portable.yaml
